@import "../components/colors";
@import "../components/fonts";

body {
  background-color: $black;
  color: $white;
}

h1, h2, h3 {
  font-family: $header-font;
}

p, a {
  font-family: $body-font;
}

a {
  color: $white;
  font-weight: bold;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}