.property-card {
  height: auto;
  width: 100%;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  text-decoration: none !important;

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

