.container-small {
  width: 400px;
  margin: 0 auto;
}

.container-medium {
  width: 500px;
  margin: 0 auto;
}

.container-large {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin: 0 auto;
}